.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 6rem;

  position: fixed;
  background-color: #fff;
  z-index: 999;

}

.nav__logo {
  height: 9rem;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
  /* text-transform: uppercase; */
}

.nav__item {
  margin-left: 4rem;
  cursor: pointer;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.nav__link:hover,
.nav__link:active {
  color: var(--color-primary-darker);
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
}

.nav__link--btn:hover,
.nav__link--btn:active {
  background-color: var(--color-primary-darker);
  color: var(--color-text);
}

.navbar__toggle {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.navbar__toggle svg {
  cursor: pointer;
}

.navbar__toggle-container .nav__links {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  background: var(--color-primary);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(39, 39, 41, 0.2);
  background: #292929;
  color: var(--color-white);
}

.nav__link--btn-blue:link,
.nav__link--btn-blue:visited {
  color: var(--color-primary);
}

.nav__link--btn-blue:hover,
.nav__link--btn-blue:active {
  color: var(--color-primary-darker);
}

.navbar__toggle-container .nav__item {
  margin: 1rem 0;
}

@media screen and (max-width: 1050px) {
  .navbar .nav__links {
    display: none;
  }
  .navbar__toggle {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .nav {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .nav {
    padding: 2rem;
  }

  .navbar__toggle-container {
    top: 20px;
  }
}
