.form {
    margin:0;
    height: 40rem;
    overflow: auto;
    

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6rem;
  }
  
  .control {
    margin-bottom: 2rem;

  }
  
  .control label {
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .control input {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40rem;
    max-width: 100%;
    height: 4rem;
  }

  textarea {
    width: 40rem;
    height: 20rem;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .actions button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 1rem 4rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: var(--color-primary-darker);
  }

  .actions .submit {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;
  }

  .action button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 1rem 4rem; 
    margin-top: 20px;
  }
  
  .action button:hover,
  .action button:active {
    background-color: var(--color-primary-darker);
  }

  .action .close {
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: white;

    display: flex;
    justify-content: flex-start;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: var(--color-primary-darker);
  }
  
  .invalid label {
    color: #ca3e51;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 70%;
    z-index: 100;
    overflow: hidden;
  }


  .modal .section__title {
    margin: 0;
    margin-left: 8rem;
  }

  .modal .section__description {
    margin-top: 4rem;
    margin-bottom: 0;
  }

  .didSubmit {
    font-size: 1.6rem;
    margin-left: 8rem;
    margin-bottom: 2rem;
  }

  
  /* @media (min-width: 768px) {
    .modal {
      left: calc(50% - 20rem);
      width: 40rem;
    }
  } */

 