@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap");

:root {
  font-family: "Open Sans", sans-serif;

  --color-gray: #f3f3f3;
  --color-white: #fff;
  --color-text: #0e153a;
  --color-primary: #e8f609;
  --color-primary-darker: #ffd000;
  --color-subtext: #1e2a78;
}
